:root {
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-40: 40px;
  --fs-48: 48px;
  --fs-60: 60px;
  /* clr */
  --white: #ffffff;
  --whitef1: #f1f1f1;
  --black: #000000;
  --yello: #fff624;
  --yello-green: #5a580d;
  --gray: #c1c1c1;
  --D9: #d9d9d9;
  --gray-2: #3a3a37;
  --gray-3: #a9a9a9;
  --gray-4: #21210f;
  --gray-5: #ffffff14;
  --grayF1: #f1f1f129;
  --gray31: #313131;
  --gray3D: #ffffff3d;
  --grayf0: rgba(255, 255, 255, 0.06);
  --brwon-mix: #fff62414;
  --yelo-mix: #fff6243d;
  --blk-mix2: #ffffff0a;
  --blk-mix3: #393936;
  --blk-mix4: #161613;
  --blk-mix5: #191919;
  --blk-mix6: #141403;
  --d-yelo: rgba(241, 241, 241, 0.02);
  --yelo-blk: rgba(255, 246, 36, 0.2);
  --l-blk: rgba(255, 255, 255, 0.08);
  --gray4: rgba(255, 255, 255, 0.24);
  --gray5: rgba(255, 255, 255, 0.04);
  --white-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  --gray-gradient: linear-gradient(
    123.75deg,
    rgba(255, 255, 255, 0.2) 11.04%,
    rgba(255, 255, 255, 0.02) 87.64%
  );
  --gray-gradient2: linear-gradient(
    39deg,
    rgba(241, 241, 241, 0.24) -79.57%,
    rgba(241, 241, 241, 0) 125.48%
  );
  --yelo-gradient: linear-gradient(
    180deg,
    rgba(255, 246, 36, 0.0222222) 0%,
    #fff624 55%,
    rgba(255, 246, 36, 0) 100%
  );
  --yelo-gradient2: linear-gradient(
    107.74deg,
    rgba(255, 246, 36, 0.27) -16.6%,
    rgba(255, 246, 36, 0) 134.64%
  );
  --yelo-gradient3: linear-gradient(
    150.17deg,
    rgba(255, 246, 36, 0.4) -60.4%,
    rgba(255, 246, 36, 0) 118.96%
  );
  --yelo-gradient4: linear-gradient(
    153.46deg,
    rgba(255, 246, 36, 0.4) -9.68%,
    rgba(255, 246, 36, 0) 119.9%
  );
}
/*--------------------------- clr --------------- */
.clr-black {
  color: var(--black);
}
.clr-white {
  color: var(--white);
}
.clr-whiteF1 {
  color: var(--whitef1);
}
.clr-gray3 {
  color: var(--gray-3);
}
.clr-yello {
  color: var(--yello);
}
.clr-D9 {
  color: var(--D9);
}
.clr-gray {
  color: var(--gray) !important;
}
/*  */
.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}
/* -------------------------font-size----------- */

.fs-14 {
  font-size: var(--fs-14);
}
.fs-16 {
  font-size: var(--fs-16);
}
.fs-20 {
  font-size: var(--fs-20);
}
.fs-24 {
  font-size: var(--fs-24);
}
.fs-32 {
  font-size: var(--fs-32);
}
.fs-40 {
  font-size: var(--fs-40);
}
.fs-48 {
  font-size: var(--fs-48);
}
.fs-60 {
  font-size: var(--fs-60);
}

/* -------------------------line-height-------------- */

.lh-20 {
  line-height: 20px;
}
.lh-21 {
  line-height: 21px;
}
.lh-24 {
  line-height: 24px;
}
.lh-30 {
  line-height: 30px;
}
.lh-36 {
  line-height: 36px;
}
.lh-48 {
  line-height: 48px;
}
.lh-57 {
  line-height: 57px;
}
.lh-72 {
  line-height: 72px;
}
/* ----------------------------------responsive----------------- */
@media (min-width: 1920px) {
  .header-ellips {
    left: -335px;
  }
  .about-ellips {
    right: -355px;
  }
  .contract-ellips {
    left: -350px;
  }
  .token-ellips {
    right: -355px;
  }
  .secure-ellips {
    right: -355px;
  }
  .roadmap-ellips {
    left: -350px;
  }
  .roadmap2-ellips {
    right: -350px;
  }
  .social-ellips {
    right: -350px;
  }
  .footer-ellips {
    left: -335px;
  }
  .hero-img {
    max-width: 1150px !important;
  }
}
@media (min-width: 1600px) {
  .roadmap-bg::after {
    height: 590px;
  }
  .hero-img {
    max-width: 1120px;
  }
  .p-realative {
    position: relative;
  }
  .mouse {
    right: -7%;
  }
  .header-ellips {
    left: -26%;
  }
  .about-ellips {
    right: -28%;
  }
  .contract-ellips {
    left: -26%;
  }
  .token-ellips {
    right: -28%;
  }
  .secure-ellips {
    right: -28%;
  }
  .roadmap-ellips {
    left: -26%;
  }
  .roadmap2-ellips {
    right: -26%;
  }
  .social-ellips {
    right: -26%;
  }
  .footer-ellips {
    left: -26%;
  }
  .phaseCard {
    max-width: 340px;
    padding: 29px;
  }
  .dino2 {
    right: 1%;
  }
  .minvh-100 {
    min-height: unset !important;
  }
}
@media (min-width: 1400px) and (max-width: 1599.99px) {
  .container {
    max-width: 1140px !important;
  }
  .mouse {
    right: -8%;
  }
}
@media (max-width: 1400px) {
  .nav-py-26 {
    padding: 18px 0 !important;
  }
  .lh-72 {
    line-height: 62px;
  }
  .py-180 {
    padding: 150px 0;
  }
  .accordionContainer {
    max-width: 800px;
    gap: 22px;
  }
  .faq-bg {
    min-height: 1010px !important;
  }
}
@media (max-width: 1199.5px) {
  :root {
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-32: 32px;
    --fs-40: 38px;
    --fs-48: 42px;
    --fs-60: 54px;
  }
  .lh-72 {
    line-height: 65px;
  }
  .nav-py-26 {
    padding: 22px 0 !important;
  }
  .py-168 {
    padding: 130px 0;
  }
  .mb-32 {
    margin-bottom: 22px;
  }
  .lh-48 {
    line-height: 44px;
  }
  .lh-57 {
    line-height: 50px;
  }
  .shibaBoxBorder {
    padding: 32px 45px;
  }
  .gap-80 {
    gap: 70px;
  }
  .pt-124-98 {
    padding: 110px 0 98px;
  }
  .secure {
    width: 225px;
  }
  .max-806 {
    max-width: 720px;
  }
  .mt-32 {
    margin-top: 22px;
  }
  .py-124-34 {
    padding: 100px 0 34px;
  }
  .py-71-366 {
    padding: 71px 0 290px;
  }
  .mb-101 {
    margin-bottom: 80px;
  }
  .roadmap-bg::after {
    height: 500px;
  }
  .dino2 {
    right: -17%;
  }
}
@media (max-width: 991.5px) {
  :root {
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-32: 30px;
    --fs-40: 36px;
    --fs-48: 40px;
    --fs-60: 50px;
  }
  .hero-img {
    max-width: 700px;
  }
  .lh-72 {
    line-height: 56px;
  }
  .lh-48 {
    line-height: 40px;
  }
  .slideBox > span:nth-child(2) {
    width: 121px;
  }
  .mt-32 {
    margin-top: 12px;
  }
  .slideBox > span:nth-child(3) {
    width: 44px;
    left: 156px;
  }
  .slideBox > span:nth-child(4) {
    width: 120px;
  }

  .max-818 {
    max-width: 580px;
  }
  .lh-57 {
    line-height: 48px;
  }
  .max-856 {
    max-width: 720px;
  }
  .gap-32 {
    gap: 28px;
  }
  .container {
    max-width: 760px !important;
  }
  .navbar-nav {
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .mb-100 {
    margin-bottom: 90px;
  }
  .py-124-34 {
    padding: 80px 0 34px;
  }
  .h-512 {
    height: unset !important;
  }
  .py-71-366 {
    padding: 71px 0 71px;
  }
  .candleMark {
    display: none !important;
  }
  .py-168 {
    padding: 100px 0;
  }
  .graphData {
    max-width: 300px;
    height: 405px;
  }
  .shibaBoxBorder {
    padding: 32px 22px;
  }
  .gap-80 {
    gap: 48px;
  }
  .coinBorder {
    min-width: 120px;
    height: 120px;
  }
  .pt-124-98 {
    padding: 100px 0 98px;
  }
  .faq-bg {
    background-size: cover;
    min-height: 890px !important;
  }
  .py-180 {
    padding: 120px 0;
  }
  .accordionContainer {
    gap: 16px;
  }
  .mb-60 {
    margin-bottom: 48px !important;
  }
  .roadmap-bg::after {
    bottom: 13%;
    z-index: -3;
  }
  .phaseCard {
    backdrop-filter: blur(23px);
  }
}
@media (max-width: 768px) {
  .hero-img {
    max-width: 555px;
  }
  .nav-py-26 {
    padding: 18px 0 !important;
  }
  .max-818 {
    max-width: 555px;
  }
  .mb-100 {
    margin-bottom: 80px;
  }
  .pt-124-98 {
    padding: 80px 0;
  }
  .dino {
    max-width: 235px;
    height: 350px;
  }
  .py-124-34 {
    padding: 70px 0 34px;
  }
  .pb-83 {
    padding-bottom: 48px !important;
  }
  .max-475 {
    max-width: unset;
  }
  form {
    min-width: 530px;
  }
  .graphData {
    max-width: 400px;
    height: 500px;
  }
  .gap-80 {
    gap: 32px;
  }
  .graphData {
    max-width: 375px;
    height: 460px;
  }
  .faq-bg {
    background-size: cover;
    min-height: 915px !important;
  }
  .slideBox > span:nth-child(2) {
    width: 190px;
  }
  .slideBox > span:nth-child(3) {
    width: 55px;
    left: 221px;
  }
  .slideBox > span:nth-child(4) {
    width: 150px;
  }
  .slideBox {
    height: 160px;
    padding: 26px 15px;
  }
  .py-160 {
    padding: 150px 0;
  }
  .mb-10 {
    margin-bottom: 8px;
  }
  .mb-50 {
    margin-bottom: 30px;
  }
  .roadmap2-ellips {
    bottom: -15%;
  }
  .py-120-71 {
    padding: 80px 0 60px;
  }
  .max-758 {
    max-width: 758px;
  }
  .py-120-71 {
    padding: 80px 0 40px;
  }
  .socialCard {
    padding: 40px 22px;
  }
  .mb-101 {
    margin-bottom: 70px;
  }
  .dino2 {
    display: none !important;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-14: 14px;
    --fs-16: 14px;
    --fs-20: 18px;
    --fs-24: 20px;
    --fs-32: 26px;
    --fs-40: 26px;
    --fs-48: 32px;
    --fs-60: 36px;
  }
  .lh-72 {
    line-height: 38px;
  }
  .lh-36 {
    line-height: 30px;
  }
  .lh-48 {
    line-height: 35px;
  }
  .slideData {
    padding: 16px 28px;
  }
  .slideBox > span:nth-child(2) {
    width: 128px;
  }
  .slideBox > span:nth-child(3) {
    width: 60px;
    left: 160px;
  }
  .slideBox > span:nth-child(4) {
    width: 84px;
  }
  .slideBox {
    height: 136px;
    padding: 18px 15px;
  }
  .gap-12 {
    gap: 10px;
  }
  .mb-32 {
    margin-bottom: 18px;
  }
  .lh-48 {
    line-height: 34px;
  }

  .gap-32 {
    gap: 32px;
  }
  .hero-img {
    max-width: 340px;
  }
  .mb-50 {
    margin-bottom: 20px;
  }
  .py-120-71 {
    padding: 60px 0 20px;
  }

  .menu {
    scale: 0.8;
  }
  .lh-24 {
    line-height: 22px;
  }
  .lh-30 {
    line-height: 27px;
  }
  .nav-py-26 {
    padding: 14px 0 !important;
  }

  .lh-57 {
    line-height: 40px;
  }
  .secure {
    width: 182px;
  }
  .pb-83 {
    padding-bottom: 24px !important;
  }
  .mb-100 {
    margin-bottom: 60px;
  }
  .Coin-data {
    padding: 24px 18px;
  }
  .gap-32 {
    gap: 16px;
  }
  .mb-32 {
    margin-bottom: 22px;
  }
  .iconCard {
    max-width: unset;
  }
  .max-818 {
    max-width: 412px;
  }
  .graphData {
    max-width: 260px;
    height: unset;
  }
  form {
    min-width: unset;
    width: 100%;
  }
  .contract-bg {
    background-size: cover;
  }

  .pb-62 {
    padding-bottom: 0px;
  }
  .coinBorder {
    min-width: 100px;
    height: 100px;
  }
  .coinBorder img {
    scale: 0.8;
  }
  .coinBorder svg {
    scale: 0.8;
  }
  .coinBorder + svg {
    scale: 0.8;
  }
  .pt-124-98 {
    padding: 0;
  }
  .my-xs-80 {
    margin: 80px 0 !important;
  }
  .py-160 {
    padding: 70px 0;
  }
  .mb-60 {
    margin-bottom: 40px !important;
  }
  .mb-12 {
    margin-bottom: 8px;
  }
  .faq-bg {
    background-size: cover;
    min-height: 960px !important;
  }
  .secureBg {
    background-size: cover;
  }
  .socialCard {
    padding: 38px 18px;
  }
  .py-124-34 {
    padding: 0px 0 0px;
  }
  .py-71-366 {
    padding: 0;
  }
  .mb-101 {
    margin-bottom: 48px;
  }
  .phaseCard {
    height: 310px;
  }
  .header-ellips {
    display: none !important;
  }
  .contract-ellips {
    display: none !important;
  }
  .secure-ellips {
    display: none !important;
  }
  .roadmap2-ellips {
    display: none !important;
  }
  .minvh-100 {
    min-height: unset;
  }
  .py-xs-80 {
    padding: 70px 0 !important;
  }
  .pt-66 {
    padding-top: 50px;
  }
  .mouse {
    display: none;
  }
  .pt-66 {
    padding-top: 0;
  }
  .mb-40 {
    margin-bottom: 32px;
  }
}
